@media only screen and (min-device-width: 1030px) {
    .about-us-page{ display: flex;}
    .about-us-page div{
        margin: 20px;
    }
    .members{
        margin: 20px;
        display: flex;
        flex-shrink: 1;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media only screen and (max-device-width: 1030px){
    .about-us-page{ 
        display: flex;
        flex-direction: column;
    }
    
    .about-us-page div{
        margin: 6px;
    }
    
    .members{
        display: flex;
        flex-shrink: 1;
        flex-wrap: wrap;
        justify-content: center;
    }
}